body{
    background-color: #AFC2D5;
}

.head{
    display: flex;
    justify-content: center;
    font-size: 10vh;
    padding-top: 20px;
    
}

.tit{
    background-color: #FFB4A2;
    padding: 10px 20px;
}

.main{
    padding-top: 27px;
    display: flex ;
    justify-content: center;
}

#inp{
    height: 30px;
    width: 250px;
    border-radius: 10px;
    font-size: 17px;
    color: #A63D40;
}

#btn{
    border-radius: 6px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.newel{
    /* display: flex; */
    justify-content: center;
    flex-wrap : wrap;
    padding-left: 86vh;
}

.dtbin{
    border-radius: 6px;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;

}

.inval{
    font-size: 10mm;
    border-radius: 10px;
    font-weight: 2px;
    color: #623CEA;

}